.filme-div{
    width: 250px;
    border: 2px solid black;
    border-radius: 0px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 18px 8px #951abe;

    p,b{
        font-size: smaller ;
        color: black !important;
    }

    #divImg{
        overflow: hidden;
        border-radius: 64px;
        border: 2px solid black;
        margin: 10px;
    }
    
    img:hover{
        transform: scale(1.15);
        transition: .4s ease-in-out;
    }

}

#divConteudo{
    display:none;
    color: black;
    b{
        color: whitesmoke;
    }
       
}

#divLoading{
    color: white;
}

#divHeader{
    background-color: #1C1C1C;
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: large;
    }
    
    a:hover{
        color: #951abe;
    }
    img{
        width: 300px;
        border-radius: 20px;
        border: 4px solid black;
        box-shadow: 6px 6px 6px black;
    }
    margin-bottom: 20px;
    border: 4px solid black;
    box-shadow: 0px 1px 8px 8px black;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* 17.09.25 - Escondendo pequena 'sobra' de tela horizontal */
    overflow-x: hidden;
}

#divFooter{
    margin-top: 20px;
    padding: 4px;
    background-color: #1C1C1C;
    p{
        color:white;
    }
    border: 4px solid black;
    box-shadow: 0px -1px 8px 8px black;

    img{
        width: 30px;
    }
    padding-bottom: 20px;
    padding-top: 20px;
}

#painelProvedores{
    img{
        width: 45px;
        border-radius: 50%;
        border: 3.25px solid black;
        font-weight: bold;
        box-shadow: 6px 6px 6px black;
    }
    b{
        font-size: large;
        color: black;
        /*background-color: rgba(0,0,0,0.075);*/
        padding: 4px;
    }
}
#painelDetalhes,#painelAvaliacao,#painelProvedores{

    b{
        color: black;
        font-size:x-large;
        
        
        /*background-color: rgba(0,0,0,0.075);*/
        
        
        
        padding: 4px;
    }
    #capa{
        border-radius: 8px;
        border: 3px solid black;
        font-weight: bold;
        box-shadow: 4px 4px 4px black;
    }
    p,i{
        font-weight: bold;
       /*background-color: rgba(0,0,0,0.075);*/
       padding: 4px;
       font-size:large;
    }

}

#fundoTelaDetalhes{
    position:fixed;
    opacity: 0.2;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}



body{
    background-image: url("assets/wallpaper.png");
    background-repeat: repeat;
}

.btn,.btn:hover{
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}

/* Estrelas que aparecem na tela de Detalhes, para que o usuário faça uma avaliação */
.estrela:hover{
    cursor:pointer;
}

/* Coração/Estrela nas DIVs de filme/série que indicam que é um favorito e/ou avaliado */
.img-favorito,.img-avaliado{
    width: 30px;
}

/* Links */
a:hover{
    cursor:pointer;
}