.filme-div{
    width: 250px;
    border: 2px solid black;
    border-radius: 0px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 18px 8px purple;

    p,b{
        font-size: smaller ;
        color: black !important;
    }

    #divImg{
        overflow: hidden;
        border-radius: 256px;
        border: 2px solid black;
    }
    
    img:hover{
        transform: scale(1.15);
        transition: .4s ease-in-out;
    }

}

#divConteudo{
    display: none;
    color: black;
    b{
        color: whitesmoke;
    }
       
}

#divErro,#divLoading{
    color: whitesmoke;
}

#divHeader{
    background-color: #1C1C1C;
    a {
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
        font-size: large;
    }
    
    a:hover{
        color: yellow;
    }
    img{
        height: 150px;
    }
}

#divFooter{
    padding: 4px;
    background-color: #1C1C1C;
    bottom: 0px;
    p{
        color:white;
    }
}

#painelDetalhes{
    b{
        color: black;
        font-size:x-large;
    }
    #capa{
        border-radius: 8px;
        border: 2px solid black;
    }
    p,i{
        font-weight: bold;
    }

}

#fundoTelaDetalhes{
    position:fixed;
    opacity: 0.4;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}








body{
    background-image: url("assets/wallpaper.png");
    background-repeat: repeat;
}

.btn{
    font-weight: bold;
}